<form class="dfce-editor" style="display:flex;flex-flow:column">
	<div id="chat-log" class="old-content">
        {{{oldContent}}}
    </div>
	<textarea class="content" name="content" autocomplete="nope" cols="40">{{messageText}}</textarea>
	<div class="dfce-editor-buttons">
		<button type="submit"><i class="fas fa-save"></i>Save</button>
	</div>
</form>